<section>
    <div class="nav-container">
      <ul class="nav nav-pills flex-column flex-sm-row">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="./Index.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./views/Hostels.html">Hostels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="/sign-in"><button type="button" class="btn btn-dark">Sign in</button></a>
        </li>
      </ul>

    </div>
  </section>