.Review {
    background-color: #52B5C3;
    height: 100%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 40px;
}

.Review > h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 2px rgba(122,122,113,0.94);
}

.review-container {
    max-width: 800px;
}

.review-container > .row {
    text-align: left;
    margin: 20px 0px;
}

.review-label {
    color: #DBF53E;
}

.book-button-container {
    margin: 30px 0px;
}